# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/*.db
/prisma/migrations/

# Cloud Functions
functions/function-key.json
functions/*key.json
functions/*.pem
functions/__pycache__/
functions/*.py[cod]
functions/*.pyc
functions/.env
functions/policy.json
functions/taiyaki-test1-firebase-adminsdk-o2zgz-d8bac27916.json
